{% extends 'base.html.twig' %}

{% block title %}Liste de Séries{% endblock %}

  {% block body %}

      <h1><a href="{{ path('program_show', {id:4}) }}">Afficher la série {{ id }}</a></h1>

  {% endblock %}

